.container{
    background: #fff;
    height: 400px;
    width:450px;
    border-radius: 25px;
    box-shadow: 5px 4px 4px 3px rgba(17, 16, 16, 0.3);
    /* color:#fff; */
    /* mix-blend-mode: color; */
}

.w-100{
    width: 100% !important;
 }

.full-width-field {
    width: 100%;
 }

