<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facial Voting System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <style>
    .table {
        display: table;
        border-collapse: separate;
        border-spacing: 2px;
        border-color: gray;
      }
    /* .form-check-input {
        float: left;
    } */
    img{
        width:30px;
        height:30px;
    }
    </style>
  
</head>
<body>
    <div class="jumbotron text-center" style="margin-bottom:0;">
        <h1>Welcome To Facial Voting System</h1>
    </div>
    <h1><%= name %></h1>
</body>
</html>

