<app-header></app-header>
<section class="status mx-auto" style="background-color: white;margin-top: 20px;height: 600px;" >
    <div class="container mx-auto">
        <div class="status-box">
            <div class="" style="align-self: center; display: flex;">
                <h3 style="margin-top: 15px;">Track delivery status</h3>
            </div>
            <ul style="margin-top: 20px;list-style-type:none;">

                <li class="status_line" style="font-size: x-large;margin-bottom: 50px;" data-status="order_placed">
                    <span>Order Placed</span>
                </li>
                
                <li class="status_line" style="font-size: x-large;padding-bottom: 50px;" data-status="order_confirm">
                    <span>Order Confirmation</span>
                </li>
                
                <li class="status_line" style="font-size: x-large;padding-bottom: 50px;" data-status="order_packed">
                    <span>Packed</span>
                </li>
                
                <li class="status_line" style="font-size: x-large;padding-bottom: 50px;" data-status="order_delivered">
                    <span>Out for delivery</span>
                </li>

                <li class="status_line" style="font-size: x-large;padding-bottom: 50px;" data-status="order_completed">
                    <span>Complete</span>
                </li>
            
            </ul>
        </div>
    </div>
</section>